main {
  display: flex;
  flex-direction: column;
}
main section.main__section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.81rem;
}
main section.main__section-title img {
  width: 3rem;
}
main section.main__section-title div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
main section.main__section-title div h1 {
  color: #2D2D2D;
  font-size: 2rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main section.main__section-title div span {
  font-size: 1.125rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: #A445ED;
}
main section.main__section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
main section.main__section div h3 {
  font-size: 1.125rem;
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  color: #2D2D2D;
}
main section.main__section h4 {
  font-size: 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #757575;
  margin-top: 1.5rem;
}
main section.main__section ul {
  margin-top: 1rem;
  padding-inline-start: 1rem;
}
main section.main__section ul li {
  padding-left: 0.25rem;
  font-size: 0.9375rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 0.8rem;
  color: #A445ED;
}
main section.main__section ul li span {
  color: #2D2D2D;
}
main section.main__section .main__section-synonyms {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
main section.main__section .main__section-synonyms .title {
  margin-top: 0;
}
main section.main__section .main__section-synonyms span {
  font-size: 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #A445ED;
}
main section.main__section .main__section__list-item {
  font-size: 0.9375rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  list-style: none;
  color: #757575;
}
main figure {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
}
main figure .separator {
  display: inline-flex;
  width: 100%;
  border-top: solid 1px #E9E9E9;
}
main section.main__section-sources h5 {
  font-size: 0.875rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  color: #757575;
}
main section.main__section-sources ul {
  padding-inline-start: 0;
}
main section.main__section-sources ul li {
  list-style: none;
  display: inline-block;
}
main section.main__section-sources ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
main section.main__section-sources ul li a span {
  font-size: 0.875rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-color: #757575;
  color: #2D2D2D;
}

/*# sourceMappingURL=mainContent.css.map */
