// Light colors

$theme-colors: (
    'standard': (
        'base': #757575,
        'alternative': #A445ED,
        'other': #8F19E8,
    ),
    'primary': (
        'light': #fff,
        'dark': #050505,
    ),
    'secundary': ( 
        'light': #2D2D2D,
        'dark': #fff,
    ),
    'tertiary': (
        'light': #F4F4F4,
        'dark': #1F1F1F,
    ),
    'quaternary': (
        'light': #E9E9E9,
        'dark': #3A3A3A,
    ),
);

@function theme-color($key: 'primary', $variant: 'light'){
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

// Size and Spacing
$rem: 1rem;

