@import './variables';
@import '../../scenes/Header/styles/sass/header.scss';
@import '../../scenes/Main/SearchBar/styles/sass/searchBar.scss';
@import '../../scenes/Main/Content/styles/sass/mainContent.scss';

body {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

.app {
    margin: 0;
    padding: $rem * 1.5;
    background-color: theme-color();
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

h1, h1, h3, h4, h5 {
    margin:  0;
    padding: 0;
}

@mixin darkThemeApp {
    background-color: theme-color('primary', 'dark');
}

.dark {
    @include darkThemeApp;
    @include header-dark-theme;
    @include search-dark-theme;
    @include content-dark-theme;
} 