@import './variables';
@import '../../scenes/Header/styles/sass/header.scss';
@import '../../scenes/Main/SearchBar/styles/sass/searchBar.scss';
@import '../../scenes/Main/Content/styles/sass/mainContent.scss';
@import './config';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap');

body {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

body, .app {
    min-height: 100vh;
}

.app__container {
    margin: 0 auto;
    padding: $rem * 1.5;
    background-color: theme-color();
    font-family: 'Inter', sans-serif;

    .loader {
        display: flex;
        justify-content: center;
        margin-top: 13rem
    }

    &.serif {
        font-family: 'Lora', serif;
    }

    &.mono {
        font-family: 'Inconsolata', monospace;
    }
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    margin: 0;
}

h1, h1, h3, h4, h5 {
    margin:  0;
    padding: 0;
}

.main__error {
    text-align: center;
    margin-top: 5rem;

    img {
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: theme-color('secundary', 'light');
    }

    p {
        color: theme-color('standard', 'base');
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
}

@mixin darkThemeApp {
    background-color: theme-color('primary', 'dark');
    
    .main__error {
        h3 {
            color: theme-color('secundary', 'dark');
        }
    }
}

.app.dark {
    @include darkThemeApp;
}

.dark .app__container {
    @include darkThemeApp;
    @include header-dark-theme;
    @include search-dark-theme;
    @include content-dark-theme;
} 

@include media-md {
    .app__container {
        padding: $rem * 2.5;
    }
    @include header-media-md;
    @include search-media-md;
    @include content-media-md;
}

@include media-lg {
    .app__container {
        margin: 0 auto;
        width: 46rem;
    }
}